.home-list {
    /* Equivalente a max-h-80 do Tailwind */
   overflow: hidden;  /* Esconde a scrollbar por padrão */
   border-radius: 0.25rem;
 }
 
 .home-list:hover {
   overflow-y: auto; /* Mostra a scrollbar no hover */
 }
 
 .home-list::-webkit-scrollbar {
   width: 0.5rem; /* Largura da scrollbar */
 }
 
 .home-list::-webkit-scrollbar-thumb {
   background-color: rgb(207, 207, 207); /* Cor do thumb da scrollbar (gray-400) */
   border-radius: 0.25rem; /* Arredondamento do thumb da scrollbar */
 }
 
 .home-list::-webkit-scrollbar-track {
    background-color:  hsla(0, 0%, 0%, 0); /* Cor do track da scrollbar (gray-100) */
    
 }



 /* <div className="flex items-center space-x-3">
                        <Switch
                          checked={darkSide}
                          onChange={toggleDarkMode}
                          className={`${
                            darkSide ? "bg-gray-500" : "bg-gray-800"
                          } relative inline-flex h-6 w-11 items-center rounded-full`}
                        >
                          <span className="sr-only">Toggle Dark Mode</span>
                          <span
                            className={`inline-block h-4 w-4 transform rounded-full transition ${
                              darkSide ? "translate-x-6" : "translate-x-1"
                            }`}
                          >
                            {darkSide ? (
                              <MdOutlineLightMode className="text-white" />
                            ) : (
                              <MdDarkMode className="text-yellow-500" />
                            )}
                          </span>
                        </Switch>
                      </div> */